body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:995px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u123 {
  position:absolute;
  left:0px;
  top:1px;
  width:995px;
  height:59px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:59px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u124 {
  position:absolute;
  left:278px;
  top:10px;
  width:90px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u125 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u126 {
  position:absolute;
  left:398px;
  top:10px;
  width:90px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u127 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u128 {
  position:absolute;
  left:529px;
  top:10px;
  width:152px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u129 {
  position:absolute;
  left:2px;
  top:9px;
  width:148px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:719px;
  top:9px;
  width:248px;
  height:41px;
}
#u130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:41px;
  font-family:'等线 Regular', '等线';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u131 {
  position:absolute;
  left:225px;
  top:160px;
  width:578px;
  height:201px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u133 {
  position:absolute;
  left:2px;
  top:8px;
  width:281px;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:30px;
}
#u134 {
  position:absolute;
  left:285px;
  top:0px;
  width:288px;
  height:30px;
}
#u134_img.mouseDown {
}
#u134.mouseDown {
}
#u135 {
  position:absolute;
  left:2px;
  top:7px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u136 {
  position:absolute;
  left:0px;
  top:30px;
  width:285px;
  height:30px;
}
#u137 {
  position:absolute;
  left:2px;
  top:8px;
  width:281px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:30px;
}
#u138 {
  position:absolute;
  left:285px;
  top:30px;
  width:288px;
  height:30px;
}
#u138_img.mouseDown {
}
#u138.mouseDown {
}
#u139 {
  position:absolute;
  left:2px;
  top:7px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:34px;
}
#u140 {
  position:absolute;
  left:0px;
  top:60px;
  width:285px;
  height:34px;
}
#u141 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:34px;
}
#u142 {
  position:absolute;
  left:285px;
  top:60px;
  width:288px;
  height:34px;
}
#u142_img.mouseDown {
}
#u142.mouseDown {
}
#u143 {
  position:absolute;
  left:2px;
  top:9px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:34px;
}
#u144 {
  position:absolute;
  left:0px;
  top:94px;
  width:285px;
  height:34px;
}
#u145 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:34px;
}
#u146 {
  position:absolute;
  left:285px;
  top:94px;
  width:288px;
  height:34px;
}
#u146_img.mouseDown {
}
#u146.mouseDown {
}
#u147 {
  position:absolute;
  left:2px;
  top:9px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:34px;
}
#u148 {
  position:absolute;
  left:0px;
  top:128px;
  width:285px;
  height:34px;
}
#u149 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:34px;
}
#u150 {
  position:absolute;
  left:285px;
  top:128px;
  width:288px;
  height:34px;
}
#u150_img.mouseDown {
}
#u150.mouseDown {
}
#u151 {
  position:absolute;
  left:2px;
  top:9px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:34px;
}
#u152 {
  position:absolute;
  left:0px;
  top:162px;
  width:285px;
  height:34px;
}
#u153 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:34px;
}
#u154 {
  position:absolute;
  left:285px;
  top:162px;
  width:288px;
  height:34px;
}
#u154_img.mouseDown {
}
#u154.mouseDown {
}
#u155 {
  position:absolute;
  left:2px;
  top:9px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u156 {
  position:absolute;
  left:442px;
  top:395px;
  width:140px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u157 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
