body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:995px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u48 {
  position:absolute;
  left:0px;
  top:1px;
  width:995px;
  height:59px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:59px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u49 {
  position:absolute;
  left:278px;
  top:10px;
  width:90px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u50 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u51 {
  position:absolute;
  left:398px;
  top:10px;
  width:90px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u52 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u53 {
  position:absolute;
  left:529px;
  top:10px;
  width:152px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u54 {
  position:absolute;
  left:2px;
  top:9px;
  width:148px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:719px;
  top:9px;
  width:248px;
  height:41px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:41px;
  font-family:'等线 Regular', '等线';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u56 {
  position:absolute;
  left:287px;
  top:195px;
  width:90px;
  height:22px;
  overflow:hidden;
}
#u56_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u56_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u57_input:disabled {
  color:grayText;
}
#u58 {
  position:absolute;
  left:387px;
  top:194px;
  width:300px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(51, 51, 51, 0.447058823529412);
}
#u59 {
  position:absolute;
  left:392px;
  top:198px;
  width:102px;
  height:18px;
  color:rgba(51, 51, 51, 0.447058823529412);
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
}
#u61 {
  position:absolute;
  left:726px;
  top:188px;
  width:39px;
  height:37px;
}
#u62 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:235px;
  top:280px;
  width:535px;
  height:98px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u66 {
  position:absolute;
  left:177px;
  top:0px;
  width:177px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u68 {
  position:absolute;
  left:354px;
  top:0px;
  width:176px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:8px;
  width:172px;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u70 {
  position:absolute;
  left:0px;
  top:30px;
  width:177px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u72 {
  position:absolute;
  left:177px;
  top:30px;
  width:177px;
  height:30px;
}
#u73 {
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u74 {
  position:absolute;
  left:354px;
  top:30px;
  width:176px;
  height:30px;
}
#u75 {
  position:absolute;
  left:2px;
  top:8px;
  width:172px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
}
#u76 {
  position:absolute;
  left:0px;
  top:60px;
  width:177px;
  height:33px;
}
#u77 {
  position:absolute;
  left:2px;
  top:9px;
  width:173px;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
}
#u78 {
  position:absolute;
  left:177px;
  top:60px;
  width:177px;
  height:33px;
}
#u79 {
  position:absolute;
  left:2px;
  top:9px;
  width:173px;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:33px;
}
#u80 {
  position:absolute;
  left:354px;
  top:60px;
  width:176px;
  height:33px;
}
#u81 {
  position:absolute;
  left:2px;
  top:9px;
  width:172px;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u82 {
  position:absolute;
  left:430px;
  top:414px;
  width:140px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u83 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  position:absolute;
  left:24px;
  top:152px;
  width:140px;
  height:40px;
}
#u85 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  position:absolute;
  left:24px;
  top:235px;
  width:140px;
  height:40px;
}
#u87 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
