body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:888px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:79px;
}
#u248_input {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:79px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u249 {
  position:absolute;
  left:278px;
  top:10px;
  width:90px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u250 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u251 {
  position:absolute;
  left:398px;
  top:10px;
  width:90px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u252 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u253 {
  position:absolute;
  left:529px;
  top:10px;
  width:92px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u254 {
  position:absolute;
  left:2px;
  top:9px;
  width:88px;
  word-wrap:break-word;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u255 {
  position:absolute;
  left:666px;
  top:10px;
  width:94px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u256 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:148px;
}
#u257 {
  position:absolute;
  left:770px;
  top:10px;
  width:118px;
  height:148px;
}
#u258 {
  position:absolute;
  left:2px;
  top:66px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:143px;
  top:285px;
  width:578px;
  height:217px;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u261 {
  position:absolute;
  left:2px;
  top:8px;
  width:281px;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:30px;
}
#u262 {
  position:absolute;
  left:285px;
  top:0px;
  width:288px;
  height:30px;
}
#u263 {
  position:absolute;
  left:2px;
  top:8px;
  width:284px;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u264 {
  position:absolute;
  left:0px;
  top:30px;
  width:285px;
  height:30px;
}
#u265 {
  position:absolute;
  left:2px;
  top:8px;
  width:281px;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:30px;
}
#u266 {
  position:absolute;
  left:285px;
  top:30px;
  width:288px;
  height:30px;
}
#u267 {
  position:absolute;
  left:2px;
  top:8px;
  width:284px;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:50px;
}
#u268 {
  position:absolute;
  left:0px;
  top:60px;
  width:285px;
  height:50px;
}
#u269 {
  position:absolute;
  left:2px;
  top:18px;
  width:281px;
  word-wrap:break-word;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:50px;
}
#u270 {
  position:absolute;
  left:285px;
  top:60px;
  width:288px;
  height:50px;
}
#u271 {
  position:absolute;
  left:2px;
  top:2px;
  width:284px;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:34px;
}
#u272 {
  position:absolute;
  left:0px;
  top:110px;
  width:285px;
  height:34px;
}
#u273 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:34px;
}
#u274 {
  position:absolute;
  left:285px;
  top:110px;
  width:288px;
  height:34px;
}
#u275 {
  position:absolute;
  left:2px;
  top:10px;
  width:284px;
  word-wrap:break-word;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:34px;
}
#u276 {
  position:absolute;
  left:0px;
  top:144px;
  width:285px;
  height:34px;
}
#u277 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:34px;
}
#u278 {
  position:absolute;
  left:285px;
  top:144px;
  width:288px;
  height:34px;
}
#u279 {
  position:absolute;
  left:2px;
  top:10px;
  width:284px;
  word-wrap:break-word;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:34px;
}
#u280 {
  position:absolute;
  left:0px;
  top:178px;
  width:285px;
  height:34px;
}
#u281 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:34px;
}
#u282 {
  position:absolute;
  left:285px;
  top:178px;
  width:288px;
  height:34px;
}
#u283 {
  position:absolute;
  left:2px;
  top:10px;
  width:284px;
  word-wrap:break-word;
}
#u284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u284 {
  position:absolute;
  left:362px;
  top:190px;
  width:134px;
  height:37px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u285 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
