body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:888px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u286 {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:79px;
}
#u286_input {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:79px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u287 {
  position:absolute;
  left:278px;
  top:10px;
  width:90px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u288 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u289 {
  position:absolute;
  left:398px;
  top:10px;
  width:90px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u290 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u291 {
  position:absolute;
  left:529px;
  top:10px;
  width:92px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u292 {
  position:absolute;
  left:2px;
  top:9px;
  width:88px;
  word-wrap:break-word;
}
#u293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u293 {
  position:absolute;
  left:666px;
  top:10px;
  width:94px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u294 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:148px;
}
#u295 {
  position:absolute;
  left:770px;
  top:10px;
  width:118px;
  height:148px;
}
#u296 {
  position:absolute;
  left:2px;
  top:66px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u297 {
  position:absolute;
  left:157px;
  top:189px;
  width:578px;
  height:201px;
}
#u298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u298 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u299 {
  position:absolute;
  left:2px;
  top:8px;
  width:281px;
  word-wrap:break-word;
}
#u300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:30px;
}
#u300 {
  position:absolute;
  left:285px;
  top:0px;
  width:288px;
  height:30px;
}
#u300_img.mouseDown {
}
#u300.mouseDown {
}
#u301 {
  position:absolute;
  left:2px;
  top:7px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u302 {
  position:absolute;
  left:0px;
  top:30px;
  width:285px;
  height:30px;
}
#u303 {
  position:absolute;
  left:2px;
  top:8px;
  width:281px;
  word-wrap:break-word;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:30px;
}
#u304 {
  position:absolute;
  left:285px;
  top:30px;
  width:288px;
  height:30px;
}
#u304_img.mouseDown {
}
#u304.mouseDown {
}
#u305 {
  position:absolute;
  left:2px;
  top:7px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:34px;
}
#u306 {
  position:absolute;
  left:0px;
  top:60px;
  width:285px;
  height:34px;
}
#u307 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:34px;
}
#u308 {
  position:absolute;
  left:285px;
  top:60px;
  width:288px;
  height:34px;
}
#u308_img.mouseDown {
}
#u308.mouseDown {
}
#u309 {
  position:absolute;
  left:2px;
  top:9px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:34px;
}
#u310 {
  position:absolute;
  left:0px;
  top:94px;
  width:285px;
  height:34px;
}
#u311 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:34px;
}
#u312 {
  position:absolute;
  left:285px;
  top:94px;
  width:288px;
  height:34px;
}
#u312_img.mouseDown {
}
#u312.mouseDown {
}
#u313 {
  position:absolute;
  left:2px;
  top:9px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:34px;
}
#u314 {
  position:absolute;
  left:0px;
  top:128px;
  width:285px;
  height:34px;
}
#u315 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:34px;
}
#u316 {
  position:absolute;
  left:285px;
  top:128px;
  width:288px;
  height:34px;
}
#u316_img.mouseDown {
}
#u316.mouseDown {
}
#u317 {
  position:absolute;
  left:2px;
  top:9px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:34px;
}
#u318 {
  position:absolute;
  left:0px;
  top:162px;
  width:285px;
  height:34px;
}
#u319 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:34px;
}
#u320 {
  position:absolute;
  left:285px;
  top:162px;
  width:288px;
  height:34px;
}
#u320_img.mouseDown {
}
#u320.mouseDown {
}
#u321 {
  position:absolute;
  left:2px;
  top:9px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u322 {
  position:absolute;
  left:374px;
  top:440px;
  width:140px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u323 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
