body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:995px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u88 {
  position:absolute;
  left:0px;
  top:1px;
  width:995px;
  height:59px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:59px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u89 {
  position:absolute;
  left:278px;
  top:10px;
  width:90px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u90 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u91 {
  position:absolute;
  left:398px;
  top:10px;
  width:90px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u92 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u93 {
  position:absolute;
  left:529px;
  top:10px;
  width:152px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u94 {
  position:absolute;
  left:2px;
  top:9px;
  width:148px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:719px;
  top:9px;
  width:248px;
  height:41px;
}
#u95_input {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:41px;
  font-family:'等线 Regular', '等线';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u96 {
  position:absolute;
  left:225px;
  top:294px;
  width:578px;
  height:201px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:8px;
  width:281px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:30px;
}
#u99 {
  position:absolute;
  left:285px;
  top:0px;
  width:288px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:8px;
  width:284px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u101 {
  position:absolute;
  left:0px;
  top:30px;
  width:285px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:8px;
  width:281px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:30px;
}
#u103 {
  position:absolute;
  left:285px;
  top:30px;
  width:288px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:8px;
  width:284px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:34px;
}
#u105 {
  position:absolute;
  left:0px;
  top:60px;
  width:285px;
  height:34px;
}
#u106 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:34px;
}
#u107 {
  position:absolute;
  left:285px;
  top:60px;
  width:288px;
  height:34px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:284px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:34px;
}
#u109 {
  position:absolute;
  left:0px;
  top:94px;
  width:285px;
  height:34px;
}
#u110 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:34px;
}
#u111 {
  position:absolute;
  left:285px;
  top:94px;
  width:288px;
  height:34px;
}
#u112 {
  position:absolute;
  left:2px;
  top:10px;
  width:284px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:34px;
}
#u113 {
  position:absolute;
  left:0px;
  top:128px;
  width:285px;
  height:34px;
}
#u114 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:34px;
}
#u115 {
  position:absolute;
  left:285px;
  top:128px;
  width:288px;
  height:34px;
}
#u116 {
  position:absolute;
  left:2px;
  top:10px;
  width:284px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:34px;
}
#u117 {
  position:absolute;
  left:0px;
  top:162px;
  width:285px;
  height:34px;
}
#u118 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:34px;
}
#u119 {
  position:absolute;
  left:285px;
  top:162px;
  width:288px;
  height:34px;
}
#u120 {
  position:absolute;
  left:2px;
  top:10px;
  width:284px;
  word-wrap:break-word;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u121 {
  position:absolute;
  left:445px;
  top:223px;
  width:134px;
  height:37px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
