body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:995px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u192 {
  position:absolute;
  left:0px;
  top:1px;
  width:995px;
  height:59px;
}
#u192_input {
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:59px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u193 {
  position:absolute;
  left:278px;
  top:10px;
  width:90px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u194 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u195 {
  position:absolute;
  left:398px;
  top:10px;
  width:90px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u196 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u197 {
  position:absolute;
  left:529px;
  top:10px;
  width:152px;
  height:40px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u198 {
  position:absolute;
  left:2px;
  top:9px;
  width:148px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:719px;
  top:9px;
  width:248px;
  height:41px;
}
#u199_input {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:41px;
  font-family:'等线 Regular', '等线';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u200 {
  position:absolute;
  left:221px;
  top:194px;
  width:578px;
  height:217px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u202 {
  position:absolute;
  left:2px;
  top:8px;
  width:281px;
  word-wrap:break-word;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:30px;
}
#u203 {
  position:absolute;
  left:285px;
  top:0px;
  width:288px;
  height:30px;
}
#u204 {
  position:absolute;
  left:2px;
  top:8px;
  width:284px;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u205 {
  position:absolute;
  left:0px;
  top:30px;
  width:285px;
  height:30px;
}
#u206 {
  position:absolute;
  left:2px;
  top:8px;
  width:281px;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:30px;
}
#u207 {
  position:absolute;
  left:285px;
  top:30px;
  width:288px;
  height:30px;
}
#u208 {
  position:absolute;
  left:2px;
  top:8px;
  width:284px;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:50px;
}
#u209 {
  position:absolute;
  left:0px;
  top:60px;
  width:285px;
  height:50px;
}
#u210 {
  position:absolute;
  left:2px;
  top:18px;
  width:281px;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:50px;
}
#u211 {
  position:absolute;
  left:285px;
  top:60px;
  width:288px;
  height:50px;
}
#u212 {
  position:absolute;
  left:2px;
  top:2px;
  width:284px;
  word-wrap:break-word;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:34px;
}
#u213 {
  position:absolute;
  left:0px;
  top:110px;
  width:285px;
  height:34px;
}
#u214 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:34px;
}
#u215 {
  position:absolute;
  left:285px;
  top:110px;
  width:288px;
  height:34px;
}
#u216 {
  position:absolute;
  left:2px;
  top:10px;
  width:284px;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:34px;
}
#u217 {
  position:absolute;
  left:0px;
  top:144px;
  width:285px;
  height:34px;
}
#u218 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:34px;
}
#u219 {
  position:absolute;
  left:285px;
  top:144px;
  width:288px;
  height:34px;
}
#u220 {
  position:absolute;
  left:2px;
  top:10px;
  width:284px;
  word-wrap:break-word;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:34px;
}
#u221 {
  position:absolute;
  left:0px;
  top:178px;
  width:285px;
  height:34px;
}
#u222 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:34px;
}
#u223 {
  position:absolute;
  left:285px;
  top:178px;
  width:288px;
  height:34px;
}
#u224 {
  position:absolute;
  left:2px;
  top:10px;
  width:284px;
  word-wrap:break-word;
}
#u225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u225 {
  position:absolute;
  left:441px;
  top:123px;
  width:134px;
  height:37px;
  font-family:'汉仪刚艺体简 Regular', '汉仪刚艺体简';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
